html,body{
    
    margin:0px;
    padding:0px;
    font-family: Geneva, Tahoma, sans-serif;
}
/* header main bar*/
header{
    overflow: hidden;
}
.headermainbar{
    z-index: 2;
    position: fixed;
    line-height: 0px;
    color:white;
    padding:5px;
    height:1.2cm;
    width:100%;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content:center;
    align-items: center;
    gap:25px;
}
.headermainbar h3{
    font-family:Arial, sans-serif;
}
.amazonin{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 3px;
}
.amazonlogo{
    width:3cm;
    background-color:transparent;
    height:90%;
    border-radius: 3px;

}
.locationplace{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3px;
    padding-left: 3px;
    padding-right: 3px;
}
.flag{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:4px;
    height:0.7cm;
    padding-left: 3px;
    padding-right: 3px;
    
    
}
.hellosignin{
    padding-left: 3px;
    padding-right: 3px;
}
.returnsorder{
    padding-left: 3px;
    padding-right: 3px;
}
.hoverclass{
    
    border: 2px solid  rgb(20, 20, 20);
}
.hoverclass:hover{
    
    border: 2px solid white;
}

.indianflag{
    width:0.6cm;
    height:0.4cm;
   
}
.location{
    margin-top: 10px;
    margin-right: 5px;
}
.search{
    width:20cm;
    display: flex;
    
    justify-content: center;
    align-items: center;
    text-align: center;
}
.searchbar{
    width:90%;
    height:38px;
    border:0px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    padding-left: 0.2cm;
    
    
    
}
input:focus {
    outline: none;
  }
  
.searchicon{
    
    right:11.6cm;
    height:38px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    width:38px;
    background-color: orange;
    
}
.fa-magnifying-glass{
    padding-top:9px;
}
.shopping{
    width:1.5cm;
    height:1.2cm;
    
    display: flex;
    justify-content: center;
    align-items:center;

}

.shoppingcart{
    
    font-size: 0.7cm;
}
/* -----------------------------------------------------------------*/
.headersubbar{
    margin-top: 55px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    width:100%;
    display: flex;
    height:39px;
    background-color:#232f3e;
    color:white;
}


.all{
    width:2cm;
    height:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    border:2px solid #232f3e;
    
}
.all:hover{
    border:2px solid white;
}
.navigation{
    width:60%;
    height:90%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    z-index: 1;
    padding-top: 1px;
    

}
.categories{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:100%;
    padding-left:3px;
    padding-right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #232f3e;
}
.categories:hover{
    border: 2px solid white;
}
.navigation p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:15px;
    
    
}
.shoppingmadeeasy{
    position: absolute;
    right:1px;
    z-index: 0;
}

/*---------------------------------------*/
.firstblock{
    position: relative;
    width:100%;
    height:100vh;
}
.firstlist{
    position:absolute;
    background-color: transparent;
    backdrop-filter: blur(10px);
    width:100%;
    bottom: 0px;
    height:11.7cm;
    display: flex;
    justify-content:space-around;
    

}
.secondlist{
    display:flex;
    justify-content:space-around;
    background-color:transparent;
}
/*111111111111111111111111111111111111111   IMPORTANT   11111111111111111111111111111111111111*/
main{
    overflow: hidden;
    
    background-color: #c0d5e7e1;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}
    

.mainblock{
    position:relative;
}

.imagecontainer{
    width:100%;
    height:80vh;
    animation:slide 100s infinite;
    display: flex;
    animation-delay: 2s;
    
}
.list{
    padding:10px;
    width:340px;
    height:400px;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.list > p{
    position:absolute;
    bottom: 0px;
}
.images1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1cm;
    
}
.images1 > div >p{
    margin:0px;
    font-size: 12px;
}
.images2{
    margin-top: 0.7cm;
}
.images1 img{
    width:4cm;
    height:auto;
}
/**************************************/
.scrollcontentbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todaysdeals{
   height:341px;
   width:95%;
   background-color: rgb(247, 247, 247);
    margin-top: 0.6cm;
    
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom:0px;
    padding:10px;
    font-weight:600;
}
.todaysdealscroll ,.homedecorations{
    
    overflow-x: auto;
    scroll-behavior: smooth;
    
    display: flex;
    gap:0.7cm;
    width:100%;
    height:90%;
    background-color: transparent;
}
.dealitems{
    min-width:240px;
    height:100%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.itemimage{
    width:100%;
    height:80%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-bottom:1px solid #eaeaea;
    
}
.discount{
    
    
    background-color: rgb(231, 19, 19);
    font-size: small;
    text-align: center;
    border-radius: 5px;
    color: white;
    padding:7px;
    

}
.dealofday{
    
    font-size: small;
    color: red;
    
}
.dealandoff{
    display:flex;
    height:20%;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

/*****************************************************/
.homedecor, .kitchenappliances{
    height:300px;
    width:95%;
    background-color: rgb(247, 247, 247);
     margin-top: 0.6cm;
     
     font-family: Calibri, 'Trebuchet MS', sans-serif;
     margin-bottom: 0.6cm;
     padding:10px;
     font-weight:600;
 }
 .homedecorimage{
    overflow: hidden;
    width:100%;
    height:100%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    
    
}
/********************************************************/

.fitness img{
    width:100%;
}
/***************************************************************/
.bottombar{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:3cm;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.941);
}
.bottombar button{
    width:5cm;
    padding:7px;
    background-color: rgb(247, 177, 1);
    border-radius: 5px;
    border:2px solid rgb(255, 149, 0);
}
.bottombar button:hover{
    background-color: rgb(255, 115, 0);
    border-color: rgb(234, 234, 234);
}
.bottombar p{
    margin-top: 5px;
    font-size: small;
}
.bottombar h3{
    margin-bottom: 5px;
    font-size: medium;
    font-weight: 500;
}
.bottombar p span{
    color: rgb(34, 123, 182);
}
.backtotop{
    height:1.5%;
    background-color: #303c4a;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;

}
.backtotop:hover{
    background-color: #374454;
}
.backtotop p {
    margin-top: 10px;
}



/************************************************************/
footer{
    height:95vh;
    width: 100%;
}
.footer1{
    height:65%;
    width:100%;
    background-color: #232f3e;
    overflow: hidden;
    
}
.detailspart1{
    display:flex;
    justify-content: center;
    gap: 95px;
    padding-top: 0.5cm;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.details{
    color:white;
    line-height: 13px;
    font-size: medium;
    
}

.details p{
    font-size: 14px;
    color: rgb(211, 209, 209);
}
.details p:hover{
    text-decoration: underline;
}
.detailsubpart1{
    margin-top: 0.5cm;
    display:flex;
    justify-content: center;
    gap:2cm;
}
.detailsubpart1 img{
    padding-top: 7px;
    width:2.4cm;
    height:0.9cm;
}
.detailsubpart1 button{
    padding-left:10px;
    width:3cm;
    height:0.9cm;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
    background-color: transparent;
    border-radius: 4px;
    border:1px solid grey;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(174, 172, 172);
}
.fa-earth-americas{
    font-size: medium;
}
.countries1{
    display:flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    gap:10px;
    color:rgb(195, 195, 195);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.countries2{
    display:flex;
    font-size: 12px;
    justify-content: center;
    gap:10px;
    color:rgb(195, 195, 195);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.countries2 p{
    margin-top: 0px;
}
.countries1 p:hover,.countries2 p:hover{
    text-decoration: underline;
}

.footer2{
    height:35%;
    width:100%;
    background-color: #171e26;
    color:white;
}
.details1{
    justify-content: centers;
    width:100%;
    height:60%;
    display: grid;
    grid-template-columns: 4cm 4cm 4cm 4cm;
    grid-template-rows: 2cm 2cm;
    justify-content: center;
    grid-gap: 5px;
}
.details1>div>h5{
    font-size: 10px;
    line-height: 7px;
    margin-bottom: 4px;

}
.details1>div>p{
    color: rgb(173, 172, 172);
    font-size: 10px;
    line-height: 7px;
}
.details1 div:hover,.details1 div:hover{
    
        text-decoration: underline;
   
}
.details2{
    
    height:40%;
    width:100%;
}
.details2>div{
    padding-top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
}
.details2>div>p{
    font-size:12px;
}
.details2>div>p:hover{
    text-decoration: underline;
}
.details2> p{
    font-size:12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
/************************************************************/
.imagecontainer img{
    min-width:100%;
    height:100%;
}
@keyframes slide {
    0%{
        transform: translateX(0%);
        
    }
    6%{
        transform: translateX(-100%);
    }
    16%{
        transform: translateX(-100%);
    }
    22%{
        transform: translateX(-200%);
    }
    32%{
        transform: translateX(-200%);
    }
    38%{
        transform: translateX(-300%);
    }
    48%{
        transform: translateX(-300%);
    }
    54%{
        transform: translateX(-400%);
    }
    64%{
        transform: translateX(-400%);
    }
    70%{
        transform: translateX(-500%);
    }
    80%{
        transform: translateX(-500%);
    }
    90%{
        transform: translateX(-600%);
    }
    100%{
        transform: translateX(-600%);
    }
}

